@{
    ViewBag.Title = "Requerimiento";
}
@{

    List<ProyectoPI.Models.getLiderReq> total = ViewBag.getLiderReq;
}
<h2 class="titulosPag">Desempeño de los lideres</h2>
<h4>Resultados</h4>



@*<img src="@Url.Action("GraficoEstadoReq",new { proy = idProy })" alt="Pie Chart using MVC" />*@
</br>
</br>

<div style=" right:3000px;width:600px ;height:auto" class="jumbotron">
    <p style="text-align:center" display-1">Resultados</p>
    <p style="font-size:15px">
    </p>
    <table class="table">
        <thead class="thead-dark">
            <tr>

                <th scope="col">Nombre Lider</th>
                <th scope="col">Requerimientos totales</th>
                



            </tr>
        </thead>
        <tbody>
            @foreach (var item in total)
            {
                <tr>

                    <td>@item.nombre</td>
                    <td>@item.totales</td>


                </tr>
            }
        </tbody>
    </table>
</div>




<div>
    @Html.ActionLink("Volver", "index", null, new { @class = "botonGeneral colorGris" })
</div>







