

@{
    ViewBag.Title = "Create";
    string id = ViewBag.idEmp;


}

<h2 class="titulosPag">Habilidades de los Empleados en la Empresa</h2>
<div style="width: 45%;float: left">
    <h4>Desempeño por proyecto @id</h4>
</div>
<div style="width: 45%;float: right">
    <h4>Dificultad de los requerimientos</h4>
</div>
<div style="width: 45%;float: left">

</div>

<div style="width: 45%;float: right">
    <img src="@Url.Action("GraficoTesterBarrasReq",new { testerId = @id})" alt="Pie Chart using MVC" />
</div>

<br />
<br />
<br />
<div style="width: 100%; float:right">
    l
</div>

<div style="width: 100%; float:right">
    @Html.ActionLink("Volver", "Index", null, new { @class = "botonGeneral colorGris" })
</div>
