@{
    string proy = ViewBag.idproy;
    string requerimiento = ViewBag.requerimiento;
    string nombreProyecto = ViewBag.nombreProyecto;
}
<h2 class="titulosPag">Pruebas del proyecto @nombreProyecto, por estado final</h2>
<h4>Resultados</h4>
<img src="@Url.Action("GraficoMostrarTotalPruebasProy",new { proy=proy })" alt="Grafico de Total de pruebas de un requerimiento" />
<br />
<br />
<br />
<div>
    @Html.ActionLink("Volver", "ProyRequerimientos", null, new { @class = "botonGeneral colorGris" })
</div>
