@model List<ProyectoPI.Models.CantReq>
@{
    ViewBag.Title = "Requerimiento";
}
@{
    string rol = ViewBag.myRol;
    string idProy = ViewBag.idproy;
    string proy = ViewBag.nombre;
}
<h2 class="titulosPag">Cantidad de Requerimientos por Tester</h2>
<h4>Resultados</h4>



<img src="@Url.Action("GraficoTotalReq",new { proy = idProy })" alt="Pie Chart using MVC" />
</br>
</br>





<div>
    @Html.ActionLink("Volver", "CantReq", null, new { @class = "botonGeneral colorGris" })
</div>
