@model Manual_ASP_NET_WEB.ViewModels.InformacionGeneralViewModel
@{
    ViewBag.Title = "Index";
}
<br />
<h2>Información general del sistema</h2>
<br />
<br />
<br />

<table class="table table-striped">
    <tr class="row">
        <th class="col-3">
            <h4>Cantidad de médicos</h4>
        </th>
        <th class="col-3">
            <h4>Cantidad de consultas</h4>
        </th>
        <th class="col-3">
            <h4>Cantidad de pacientes</h4>
        </th>
        <th class="col-3">
            <h4>Cantidad de pacientes con peso mayor a 60</h4>
        </th>
    </tr>
    <tr class="row">
        <th class="col-3">
            <strong><p>@Model.CantidadMedicos</p></strong>
        </th>
        <th class="col-3">
            <strong><p>@Model.CantidadConsultas</p></strong>
        </th>
        <th class="col-3">
            <strong><p>@Model.CantidadPacientes</p></strong>
        </th>
        <th class="col-3">
            <strong><p>@Model.CantidadPacientes60</p></strong>
        </th>
    </tr>
</table>
