@model IEnumerable<ProyectoPI.Models.TeamViewModel>

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>



@{
    ViewBag.Title = "Equipos";
    <h2>Equipo</h2>

    <ul>
        @foreach (var member in ViewData["team"] as IList<ProyectoPI.Models.TeamViewModel>)
        {
            <li>
                @member.employee, @member.email ,@member.role 
            </li>
        }
    </ul>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
