@model IEnumerable<ProyectoPI.Models.TeamViewModel>
@{
    ViewBag.Title = "Equipos";
    <h2>Equipo</h2>

    <ul>
        @foreach (var name in ViewData["datos"] as IList<ProyectoPI.Models.TeamViewModel>)
        {
        <li>
            @name.empleado, @name.tel ,@name.rol 
        </li>
        }
    </ul>
 }
