
@{
    ViewBag.Title = "NoDuplicados";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<h2 class="titulosPag" color="darkred">error</h2>

<h5>No se permiten dos empleados con la misma cedula</h5>

<div>
    @Html.ActionLink("Volver", "index", null, new { @class = "botonGeneral colorGris" })
</div>
