@{
    ViewBag.Title = "NoDuplicados";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="titulosPag" color="darkred">error</h2>

<h5>No se permiten dos clientes con la misma cédula.</h5>

<div>
    @Html.ActionLink("Volver", "Index", null, new { @class = "botonGeneral colorGris" })
</div>